<div class="row">
  <% page.posts.each(function(post){ %>
    <%- partial('post-preview', {post: post}) %>
  <% }) %>
  <% if (page.total > 1) { %>
    <!-- Pager -->
    <hr>
    <%- partial('pagination') %>
  <% } %>
</div>
