<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%- partial('_partial/social-icons', {show_rss: true}) %>
        <p class="copyright text-muted">
          Copyright &copy; <%= config.author || config.title %><br />
          Posts licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </p>
      </div>
    </div>
  </div>
</footer>
