<!-- CSS -->
{{ $style := resources.Get "css/reset.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $style := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{range .Site.Params.extracssfiles}}
    <link rel="stylesheet" href="{{.}}">
{{end}}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | absURL }}"
{{ else }}
    href="/img/favicon.ico"
{{ end }}
>
